.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        masa
      .side-bar__user-name__top-items__icons
        = link_to '#',class: "icon" do
          = icon('fas', 'edit')
        = link_to '#',class: "icon" do
          = icon('fas', 'cog')

  .side-bar_group-list
    .side-bar_group-list__group
      .side-bar_group-list__group__name
        techcamp
      .side-bar_group-list__group__message
        まだメッセージがありません
        
    .side-bar_group-list__group
      .side-bar_group-list__group__name
        techcamp
      .side-bar_group-list__group__message
        まだメッセージがありません
    
    .side-bar_group-list__group
      .side-bar_group-list__group__name
        techcamp
      .side-bar_group-list__group__message
        まだメッセージがありません
   

    


